{% extends 'base.html' %}

{% block content %}
    <h2>Kayıt Ol</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <div class="mb-3">
            <label for="username" class="form-label">Kullanıcı Adı</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Şifre</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>
{% endblock %}
